* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 8%;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
}

.nav__list {
  flex: 1;
  text-align: right;
}

.nav__list__li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.nav__link:hover {
  color: #ff5ea2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.semi__title {
  font-size: 54px;
}

.sub__title {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.title__text {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

.title__price {
  margin: 30px 0;
  font-size: 20px;
}
