* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 8%;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.nav__list {
  flex: 1;
  text-align: right;
}

.nav__list__li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.nav__link:hover {
  color: #ff5ea2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.semi__title {
  font-size: 54px;
}

.sub__title {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.title__text {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

.title__price {
  margin: 30px 0;
  font-size: 20px;
}

.title__button {
  width: 150px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

.title__button img {
  width: 30px;
  display: none;
}

.title__button:hover img {
  display: block;
}

.title__button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.controller-img {
  width: 90%;
}

.color-box {
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(150px);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
}

.add-btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.add-btn__text {
  font-weight: 100;
}

.add-btn__img {
  width: 35px;
  margin-bottom: 5px;
}

.social__img {
  height: 13px;
  margin: 20px;
  cursor: pointer;
}

.social-links {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .nav__list {
    width: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  .nav__list__li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav__link {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }
}
